@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');



:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #161313;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif; /* Ganti font di sini */
}
@layer components {
  .nav-transition {
    @apply transition-all duration-200 ease-in-out;
  }
}
.swiper-pagination-bullet {
  background-color: #fff !important;
  opacity: 0.6 !important;
  width: 10px !important;
  height: 10px !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #2563eb !important; 
  opacity: 1 !important;
  width: 24px !important;
  border-radius: 5px !important;
}